
.wrapper{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 75%; 
}


.destination {
  display: flex;
}

 
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid grey;
}

ul.travel-dates > li {
  display: inline-block;
  width: 50%;
}

ul > li >input{
    font-size: 15px;
    opacity: .8;
    padding: 18px;
    width: 90%;
}

ul li:first-child{
  border-right: 1px dotted gray !important;
}

ul li:last-child{
  border-left: none;
  
} 

input{
    
  background-color: #FFFFFF;
  border:none; 
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;

}


input:focus {
    outline: none;
}

li:focus{
  border: 2px solid #000000 !important;
}

.ml-10{
  margin-left: 10px;
}

.w50{
  width: 50px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}


.passenger-container {
  min-width: 250px;
  position: relative;
}


.passenger{ 
  border: 1px solid grey;
  cursor: pointer;
  height: 62px;
  overflow: hidden;
}


.passenger > span:first-child{
  color: grey;
  font-size: 0.8em;
  margin: 5px;
}

.passenger-total{
  font-size: 1.2em;
  margin: 5px;
  margin-top: 0.1em;
  
}

 .icon-passenger{
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  right: 25px;
} 

.choise-passenger-container{
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: auto;
  overflow: hidden;
  position: absolute;
  width: 100%; 
  z-index: 1;
}

.choise-passenger{
  border: 1px solid grey;
  height: 60px;
  padding: 10px;
}

.choise-passenger > span{
  display: block;
  margin-left: 2px;
  width: 50%;
}

.subtitle-passenger-input{
  display: flex;
  font-size: 0.87rem;
  margin-top: -5px;
  opacity: .5;
}

.choise-passenger > input{
  display: block;
  border: 1px ridge;
  height: 25px;
  margin-left: 140px;
  margin-top: -25px;
  position: absolute;
  width: 45px;
}

.choise-passenger-close{
  color: #333;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.choise-passenger-close:hover{
  color: #CC0000 ;
}

.search{
  background-color: #CC0000;  
  border: none; 
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-size: 1.25rem;
  height: 50px;
  min-width: 250px;
  width: 100%;
}

button:hover{
    background: #ad0000;
}
 

.url-container {
  display: flex;
  margin-right: auto;
  margin-top: 300px;
  text-align: center;
}

.url-container > span{
  border: 1px solid grey;
  border-radius: 5px;
  bottom: 50px;
  font-size: 20px;
  margin: 0 auto;
  padding: 15px;
}

.alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 50%;
}